.menu-lateral {
    -fx-background-color: #2c3e50;
}

.boton-menu {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-pref-width: 160px;
    -fx-background-radius: 6;
}

.boton-menu:hover {
    -fx-background-color: #2980b9;
}

.contenido-principal {
    -fx-background-color: #ecf0f1;
}

.area-salida {
    -fx-font-family: "Courier New";
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-background-color: #ffffff;
}

/* Estilo general para formularios */
VBox{
    -fx-spacing: 10px;
    -fx-alignment: top-left;
}
HBox {
     -fx-spacing: 23px;
     -fx-alignment: center;

 }

/* Inputs y botones con look moderno */
.text-field, .choice-box {
    -fx-pref-height: 30px;
    -fx-font-size: 13px;
}

.button {
    -fx-font-size: 13px;
    -fx-padding: 6 15;
}

/* Etiquetas */
.label {
    -fx-font-size: 13px;
    -fx-text-fill: #2c3e50;
}

.form-box {
    -fx-padding: 20px;
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0.5, 0, 2);
    -fx-max-width: 700px;
    -fx-border-color: #dcdde1;
    -fx-border-radius: 10px;
    -fx-border-width: 1;
    -fx-translate-y: 10px;
}

